<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <ul v-if="emails.length > 9">
            <li v-for="email in emails">{{email.response}}</li>
        </ul>
    </div>

    <script src="js/script.js"></script>
</body>
</html>